{% load static %}
<div class="footer">
    <div class="footer1">
      <h3>Products</h3>
      <p>Wranler</p>
      <p>130-SMHR</p>
      <p>130-MC</p>
      <p>Colt</p>
      <p>147</p>
      <P>151B</P>
      <P>Software</P>
      <p>Resolute Polar</p>
      <p>Resolute Reference</p>
      <p>Resolute Pin</p>
      <p>SMHR2</p>
    </div>
    <div class="footer1">
      <h3>Applications</h3>
      <p>Seismology Solutions</p>
      <p>Structural Monitoring Solutions</p>
      <p>Hazard Mitigation</p>
    </div>
    <div class="footer1">
      <h3>About</h3>
      <p>Applications</p>
      <p>About Ref Tek</p>
      <p>News & Events</p>
      <p>Privarcy Policy</p>
    </div>
    <div class="footer1">
      <h3>Support</h3>
      <p>Contact Ref Tek</p>
      <p>Worldwide Representation</p>
      <p>Calibration Sheets</p>
      <p>Submit a Ticket</p>
    </div>
  
  <div class="footerbottom">
    <p>
    Copyright Reftek Systems Inc. | <span class="fot">Terms and Conditions</span>  | Web Design by <span class="fot">Roddis Communications Inc</span>
  </p>
  </div>
  
  
  
  
  <!-- Create a div where the graph will take place -->
  